@using System.Security.Claims
@using View.Services
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager;


@inject LoginService LoginService;

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            @if (_identity != null)
            {
                @_identity?.Value
                <a href="" @onclick="Logout">LogOut</a>
            }
            else
            {
                <a href="" @onclick="LoginService.ShowLoginDialog">Sign In</a>
            }
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@if (LoginService.ShowUserLoginDialog)
{
    <LoginDialog OnCancel="LoginCancel" Login="Login"/>
}

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private List<UserClaim>? _userClaims;
    private UserClaim? _identity;

    protected override async Task OnInitializedAsync()
    {
        _userClaims = await LoginService.GetUser();
        if (_userClaims != null)
        {
            _identity = _userClaims?.Where(claim => claim.Type == ClaimTypes.Name).FirstOrDefault();
        }
    }

    protected void Login(UserClaim loginClaim)
    {
        _identity = loginClaim;
        LoginService.CloseLoginDialog();
        
        NavigationManager.NavigateTo("/", true);
    }

    private async Task Logout()
    {
        await LoginService.LogUserOut();

        _identity = null;

        NavigationManager.NavigateTo("/", true);
    }

    protected void LoginCancel()
    {
        LoginService.CloseLoginDialog();
    }
}

