@using System.Security.Claims
@using Microsoft.AspNetCore.Mvc
@using View.Services
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager;


@inject LoginService LoginService;

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            @if (Identity != null)
            {
                @Identity?.Value
                <a href="" @onclick="Logout">LogOut</a>
            }
            else
            {
                <a href="" @onclick="LoginService.ShowLoginDialog">Sign In</a>
            }
        </div>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@if (LoginService.ShowUserLoginDialog)
{
    <LoginDialog OnCancel="LoginCancel" Login="Login"/>
}

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    private List<UserClaim>? UserClaims;
    private UserClaim? Identity;

    protected override async Task OnInitializedAsync()
    {
        UserClaims = await LoginService.GetUser();
        if (UserClaims != null)
        {
            Identity = UserClaims?.Where(claim => claim.Type == ClaimTypes.Name).FirstOrDefault();
        }
    }

    protected void Login(UserClaim loginClaim)
    {
        Identity = loginClaim;
        LoginService.CloseLoginDialog();
        
        NavigationManager.NavigateTo("/", true);
    }

    private async Task<IActionResult> Logout()
    {
        await LoginService.LogUserOut();

        Identity = null;

        return new LocalRedirectResult("/");
    }

    protected void LoginCancel()
    {
        LoginService.CloseLoginDialog();
    }
}

