<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <img class="logo" src="img/logo.png"/>
    </div>
    <div class="container-fluid">
        <a class="navbar-brand" style="color:black" href="">Book Library</a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="books/index">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> List Books
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="books/add">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Add Book
            </NavLink>
        </div>
        
    </nav>
</div>