@page "/"
@using Contracts.Models
@using View.Data
@inject IEditableListViewService<BookModel> EditableBooksViewService;

<div class="main">
    <h3>Book page</h3>
    <div class="control-panel">
        <div class="child2">
            <EditControl Service="EditableBooksViewService"/>
        </div>
    </div>
    <div class="navbar-toggler">
        <div class="nav-scrollable">
            <CascadingValue Value="EditableBooksViewService">
                <EditableTable @ref="Table"/>
            </CascadingValue>
        </div>
    </div>
    <div class="control-panel">
        <div class="child2">
            <Pagination Service="EditableBooksViewService"/>
        </div>
    </div>
</div>

@code {
    private EditableTable Table { get; set; } = default!;

    protected override void OnInitialized()
    {
        EditableBooksViewService.NotifyPageChanged(this, EditableBooksViewService.PaginationState.PageSize);
    }
}