@page "/"

@namespace View.Pages

@using Contracts.Models
@using View.Services

@inject BorrowState BorrowState
@inject PaginationState PaginationState
@inject EditState EditState


<div class="main">
    <h3>Book page</h3>
    <div class="control-panel">
        <div class="child2">
            @if (!EditState.IsEditMode)
            {
                <button @onclick="EditState.EnterEditMode">Edit</button>
            }
            else
            {
                <button @onclick="AddNewBook">Add</button>
                <button @onclick="async () => { await EditState.SaveChanges(); DiscardAdded(true);}">Save</button>
                <button @onclick="async () => { await EditState.DiscardChanges(); DiscardAdded(false);}">Discard</button>
                @if (@ToRemove)
                {
                    <button @onclick="RemoveItems">Remove</button>
                }
            }
        </div>
    </div>
    <div class="navbar-toggler">
        <div class="nav-scrollable">
            @if (_books == null)
            {
                return;
            }

            @if (!@_books.Any() && !@_added.Any())
            {
                <label>No items in the library. Please add some.</label>
            }
            else
            {
                <table class="table table-responsive fl-table" style="width:100%">
                    <tr style="text-align: left;">
                        <th>
                            <label >Id</label>
                        </th>
                        <th>
                            <label >Name</label>
                        </th>
                        <th>
                            <label >Author</label>
                        </th>
                        <th>Status</th>
                    </tr>

                    @foreach (var item in @_added)
                    {
                        <EditableTableEntry Book="@item" OnBorrowBook="BorrowState.ShowConfigureDialog" EditState="EditState" Root="this" OnChecked="OnCheckedUpdate"/>
                    }

                    @foreach (var item in @_books)
                    {
                        <EditableTableEntry Book="@item" OnBorrowBook="BorrowState.ShowConfigureDialog" EditState="EditState" Root="this" OnChecked="OnCheckedUpdate"/>
                    }
                </table>
            }
        </div>
    </div>
    <div class="control-panel">
        <div class="child2">
            <Pagination OnPaginationChanged="OnPaginationChanged" PaginationState="PaginationState"/>
        </div>
    </div>
</div>

@if (BorrowState.ShowingBookConfigurationDialog)
{
    <BorrowBookDialog Book="BorrowState.CurrentBook"
                      OnCancel="BorrowState.CancelConfigureDialog"
                      OnBookReturn="BorrowState.ReturnBook"
                      OnBookBorrow="BorrowState.BorrowBook"/>
}

@code {
    private readonly List<BookModel> _added = new();
    private List<BookModel>? _books = new();
    private readonly List<EditableTableEntry> _entries = new();

    [Inject] BooksService BooksService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _books = await ReloadBooks();
        EditState.BooksService = BooksService;
        BorrowState.BookModelUpdated = BookModelUpdated;
    }

    private void BookModelUpdated(object? sender, BookModel bookModel)
    {
        var editableTableEntry = _entries.FirstOrDefault(entry => entry.Book.Id == bookModel.Id);
        editableTableEntry?.UpdateEntry(bookModel);
        
        InvokeAsync(StateHasChanged);
    }

    private Task<List<BookModel>> ReloadBooks()
    {
        _entries.Clear();
        return BooksService.GetBooks(PaginationState.StartWindow, PaginationState.Count);
    }

    async Task OnPaginationChanged(int newCount)
    {
        _books = await ReloadBooks();
        
        await InvokeAsync(StateHasChanged);
    }

    public void Add(EditableTableEntry editableTableEntry)
    {
        _entries.Add(editableTableEntry);
    }

    private void AddNewBook()
    {
        _added.Insert(0, new BookModel()
        {
            Id = -1
        });
    }
    
    private void DiscardAdded(bool moveAdded)
    {
        var nonDirty = _entries
            .Where(entry => _added.Contains(entry.Book))
            .Select(editEntry => editEntry.Book);
        if (moveAdded)
        {
            _books.AddRange(nonDirty);
        }
        
        _added.RemoveAll(model => nonDirty.Contains(model));
        _entriesToRemove.Clear();
    }

    private readonly List<EditableTableEntry> _entriesToRemove = new();
    private bool ToRemove => _entriesToRemove.Count > 0;
    
    private void OnCheckedUpdate(EditableTableEntry editableTableEntry)
    {
        if (editableTableEntry.Checked)
        {
            _entriesToRemove.Add(editableTableEntry);
        }
        else
        {
            _entriesToRemove.Remove(editableTableEntry);
        }
    }

    private async Task RemoveItems()
    {
        var editableTableEntries = new List<EditableTableEntry>(_entriesToRemove);
        var bookModels = editableTableEntries.Select(entry => entry.Book);

        foreach (var bookModel in bookModels)
        {
            await BooksService.RemoveBook(bookModel);
        }
        
        _books.RemoveAll(model => bookModels.Contains(model));
        _entriesToRemove.RemoveAll(entry => bookModels.Contains(entry.Book));
    }
}